@font-face {
  font-family: "Yekan";
  src: url("./assets/fonts/Yekan.woff2") format("woff2"),
    url("./assets/fonts/Yekan.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #E9F0EF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
  font-family: "Yekan", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}